extends layout

block content
  h1= title
  p Store shit here
  form(action='#{messageURL}',method='post')
      input(type="text",name="message",placeholder="Enter a message",size="40")
      input(type='submit',name='submit',value='Submit')
  p List of messages
  div(class='messages')
      for result in results
         p(class='msg') #{result.message}